@import 'nib'
@import '../components/normalize.css/normalize.css'

// devboost styles
///////////////////////

.clearfix
	clearfix()

.page
	background url(../img/hoffman.png)
	font-family Consolas, Tahoma

.devboost
	width 960px
	margin 10px auto
	color #fff

	&__image
		width 200px
		margin 20px auto
		display block

.devboost-cmd
	width 650px
	margin 0 auto
	background #000
	padding 3px
	line-height 1
	font-size 15px

	&__title
		color green
		
	&__tilde
		color orange