//
// Base
.button
  display: inline-block
  padding: 8px 16px
  font-size: $base_font-size
  font-weight: 400
  line-height: 1.25
  text-align: center
  white-space: nowrap
  vertical-align: middle
  user-select: none
  border: 1px solid transparent
  color: $white
  background-color: $brand_primary
  border-color: $brand_primary
  transition: all .25s ease-out
  &:hover
    color: $white
    background-color: darken($brand_primary, 10%)
    border-color: darken($brand_primary, 10%)
    text-decoration: none
  &:focus
    outline: 0
  &.button_disabled,
  &:disabled
    cursor: not-allowed
    opacity: .4

//
// Alternate
.button_primary
  background-color: $brand_primary
  border-color: $brand_primary
  &:hover
    background-color: darken($brand_primary, 10%)
    border-color: darken($brand_primary, 10%)
  &.button_disabled,
  &:disabled
    &:hover
      background-color: $brand_primary
      border-color: $brand_primary

.button_secondary
  background-color: $brand_secondary
  border-color: $brand_secondary
  &:hover
    background-color: darken($brand_secondary, 10%)
    border-color: darken($brand_secondary, 10%)
  &.button_disabled,
  &:disabled
    &:hover
      background-color: $brand_secondary
      border-color: $brand_secondary

.button_info
  background-color: $brand_info
  border-color: $brand_info
  &:hover
    background-color: darken($brand_info, 10%)
    border-color: darken($brand_info, 10%)
  &.button_disabled,
  &:disabled
    &:hover
      background-color: $brand_info
      border-color: $brand_info

.button_success
  background-color: $brand_success
  border-color: $brand_success
  &:hover
    background-color: darken($brand_success, 10%)
    border-color: darken($brand_success, 10%)
  &.button_disabled,
  &:disabled
    &:hover
      background-color: $brand_success
      border-color: $brand_success

.button_warning
  background-color: $brand_warning
  border-color: $brand_warning
  &:hover
    background-color: darken($brand_warning, 10%)
    border-color: darken($brand_warning, 10%)
  &.button_disabled,
  &:disabled
    &:hover
      background-color: $brand_warning
      border-color: $brand_warning

.button_danger
  background-color: $brand_danger
  border-color: $brand_danger
  &:hover
    background-color: darken($brand_danger, 10%)
    border-color: darken($brand_danger, 10%)
  &.button_disabled,
  &:disabled
    &:hover
      background-color: $brand_danger
      border-color: $brand_danger

//
// Bordered
.button_primary.button_bordered
  color: $brand_primary
  &:hover
    color: $white
    background-color: $brand_primary
    border-color: $brand_primary
  &.button_disabled,
  &:disabled
    color: $brand_primary

.button_secondary.button_bordered
  color: $brand_secondary
  &:hover
    color: $white
    background-color: $brand_secondary
    border-color: $brand_secondary
  &.button_disabled,
  &:disabled
    color: $brand_secondary

.button_info.button_bordered
  color: $brand_info
  &:hover
    color: $white
    background-color: $brand_info
    border-color: $brand_info
  &.button_disabled,
  &:disabled
    color: $brand_info

.button_success.button_bordered
  color: $brand_success
  &:hover
    color: $white
    background-color: $brand_success
    border-color: $brand_success
  &.button_disabled,
  &:disabled
    color: $brand_success

.button_warning.button_bordered
  color: $brand_warning
  &:hover
    color: $white
    background-color: $brand_warning
    border-color: $brand_warning
    &.button_disabled,
    &:disabled
      color: $brand_warning

.button_danger.button_bordered
  color: $brand_danger
  &:hover
    color: $white
    background-color: $brand_danger
    border-color: $brand_danger
  &.button_disabled,
  &:disabled
    color: $brand_danger

.button_bordered
  background-color: transparent
  &.button_disabled,
  &:disabled
    &:hover
      background-color: transparent
