html
  box-sizing: border-box
  position: relative
  min-height: 100%
  min-width: $content-width

*,
*:before,
*:after
  box-sizing: inherit

*:focus
  outline: none

::selection
  color: $background-color
  // Fix Chrome selection
  background: rgba($brand-color, 0.99)

::-moz-selection
  color: $background-color
  background: $brand-color

.page
  font-family: $base-font-family
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  color: $text-color
  background: $background-color

.container
  width: $content-width
  margin: 0 auto
  padding: 0 10px
