//
// Reset the box-sizing, position and others
html
  box-sizing: border-box

*,
*:before,
*:after
  position: relative
  box-sizing: inherit

::selection
  color: #fff
  // Fix Chrome selection
  background: rgba($color_primary, 0.99)

::-moz-selection
  color: #fff
  background: $color_primary

*:focus
  outline: none


//
// Links
a
  color: $link_color
  text-decoration: none

  &:hover
    color: $link_hover-color
    text-decoration: none
