// Sticky Footer
sticky-footer(pagewrap, footer, footerHeight)
  html
  body
    height 100%

  {pagewrap}
    clearfix()
    overflow hidden
    min-height 100%
    margin-bottom -(footerHeight)
    &:after
      content ''
      display block
      height footerHeight

  {footer}
    height footerHeight
    line-height footerHeight
    text-align center

// clearfix
.clearfix
  clearfix()

// Styles
.page
  font-family 'Open Sans', Arial, sans-serif
  font-size 15px
  line-height 1.4
  color #000
