// Tools
@import 'nib'
@import 'jeet'
@import '0-tools/vars.styl'
@import '0-tools/mixins.styl'

// Base
@import '1-base/normalize.css'
@import '1-base/fonts.styl'
@import '1-base/base.styl'

// Layout
@import '2-layout/header.styl'

// Module
@import '3-module/common.styl'

// State
@import '4-state/state.styl'

.page__wrap
  background #fff

.coding
  padding-top 80px
  margin 0 auto 30px auto
  display block
  max-width 40px
  opacity .75

.start
  margin 30px 0 30px 0
  color #4d4d4d
  text-align center
  font-size 48px

.description
  margin 0 auto
  width 90%
  line-height 70px
  text-align center
  border-top 1px solid #ccc
