@import 'nib'
@import 'jeet'
@import 'tools/normalize.css'
@import 'partials/base.styl'

// Sticky footer mixin
// page class
// footer class
// footer height
sticky-footer('.page-wrap', '.footer', 70px)

// Remove this styles before start coding
@import 'partials/hello.styl'
