// Color placeholders
=placeholder($color: #000)

  &::-webkit-input-placeholder
    color: $color

  &::-moz-placeholder
    color: $color

  &:-ms-input-placeholder
    color: $color

  &:-moz-placeholder
    color: $color

// Grid row - wrapper for columns
=grid($gutter: $grid-gutter)
  margin-left: ceil(($gutter / -2))
  margin-right: floor(($gutter / -2))
  +clearfix

=grid-col($gutter: $grid-gutter)
  padding-left: floor(($gutter / 2))
  padding-right: ceil(($gutter / 2))
