//
// Clearfix
=clearfix()
  &::after
    content: ''
    display: table
    clear: both

//
// Color placeholders
=placeholder($color: #000)

  &::-webkit-input-placeholder
    color: $color

  &::-moz-placeholder
    color: $color

  &:-ms-input-placeholder
    color: $color

  &:-moz-placeholder
    color: $color

//
// Media
=media($name)
  @if $name == xsmall
    @media (max-width: $breakpoint_xsmall)
      @content
  @if $name == small
    @media (max-width: $breakpoint_small)
      @content
  @if $name == medium
    @media (max-width: $breakpoint_medium)
      @content
  @if $name == large
    @media (max-width: $breakpoint_large)
      @content
  @if $name == xlarge
    @media (min-width: $breakpoint_large)
      @content

//
// Container placeholder
%container
  max-width: $grid_container
  margin-left: auto
  margin-right: auto
  padding-left: $grid_gutter/2
  padding-right: $grid_gutter/2
