//
// Colors
$color_primary:         #272727
$color_secondary:       #fff
$color_info:            #5bc0de
$color_success:         #5cb85c
$color_warning:         #f0ad4e
$color_danger:          #d9534f

$color_black:           #000
$color_gray-dark:       #292b2c
$color_gray-medium:     #464a4c
$color_gray-light:      #636c72
$color_white:           #fff

//
// Fonts
$font_family:       -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif
$font_size:         16px
$font_line-height:  1.6
$font_weight:       400

//
// Page
$page_font-family:  $font_family
$page_font-size:    $font_size
$page_line-height:  $font_line-height
$page_font-weight:  $font_weight
$page_color:        $color_gray-dark
$page_background:   $color_white
$page_antialiased:  false

//
// Links
$link_color: $color_secondary
$link_hover-color: $color_primary

//
// Breakpoints
$breakpoint_phone: 576px
$breakpoint_mobile: 768px
$breakpoint_tablet: 992px
$breakpoint_desktop: 1200px

//
// Grid
$grid_container: 960px
$grid_gutter: 20px
