// Body
$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$base-font-size:   16px
$base-font-weight: 400
$small-font-size:  $base-font-size * 0.875
$base-line-height: 1.6

// Colors
$bg-color:         #fff
$text-color:       #333

$brand-prime:      #b3414a
$brand-second:     #286abc

$link-color:       $brand-second
$link-hover-color: $brand-prime

$grey-color:       #282828
$grey-color-light: #8e8e8e
$grey-color-dark:  #181818

// Headings
$head-font-family:    inherit
$head-font-weight:    500
$head-line-height:    1.1
$head-color:          inherit

$font-size-h1: floor(($base-font-size * 2.6))
$font-size-h2: floor(($base-font-size * 2.15))
$font-size-h3: ceil(($base-font-size * 1.7))
$font-size-h4: ceil(($base-font-size * 1.25))
$font-size-h5: $base-font-size
$font-size-h6: ceil(($base-font-size * 0.85))

// Container & Grid
$container:      960px
$container-min:  $container
$susy:           (columns: 12, gutters: 0)
$grid-gutter:    20px
