// Path image
$path_image: '../images/'


// Colors
$white:                 #fff
$black:                 #000

$gray_dark:             #292b2c
$gray:                  #464a4c
$gray_light:            #636c72
$gray_lighter:          #eceeef
$gray_lightest:         #f7f7f9

$brand_primary:         #272727
$brand_secondary:       #80262d
$brand_info:            #5bc0de
$brand_success:         #5cb85c
$brand_warning:         #f0ad4e
$brand_danger:          #d9534f


// Base
$base_font-family:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif
$base_font-size:    16px
$base_line-height:  1.6
$base_font-weight:  400
$base_color:        $brand_primary
$base_background:   $white
$base_antialiased:  false


// Links
$link_color:              $brand_secondary
$link_decoration:         none
$link_hover-color:        darken($link_color, 15%)
$link_hover-decoration:   underline


// Breakpoints
$breakpoint_phone:    576px
$breakpoint_mobile:   768px
$breakpoint_tablet:   992px
$breakpoint_desktop:  1200px


// Grid
$grid_container:  960px
$grid_gutter:     20px
