//- PROJECT VARIABLES.
//-
//- Example for pug:
//-
//- title #{title}
//- meta(name="description", content=description)
//- meta(name="keywords", content=keywords)

block config
  - var title = "devBoost - Pug & Sass starter kit."
  - var description = "Pug & Sass starter kit"
  - var keywords = "devboost, pug, sass, start, kit"
