extends layouts/layout.default

block main
  .hello
    .hello__inner
      img.coding(src="assets/images/source_code.png", alt="")
      .start Let's Code!

block footer
  .footer
    .description Jade and Stylus starter kit.
