extends layouts/layout.default

block body
  .page-wrap
    //- remove inner before start coding
    .line
    img.flash(src="assets/images/flash.png", alt="")
    .start Let's Code!
    img.coding(src="assets/images/source_code.png", alt="")
  .footer
    .copyright Jade and Stylus starter kit.
