doctype html
html
	head
		meta(charset="utf-8")
		title DevBoost
		link(rel="stylesheet", href="css/main.css")
	body.page
		.devboost
			.devboost-cmd
				.devboost-cmd__title DevBoost 
					span.devboost-cmd__tilde ~
				.devboost-cmd__desc $ Boost speed of development with Gulp, Jade and Stylus _
			.devboost__tech
				img(src="img/gulp.svg", alt="gulp.png", class="devboost__image")
				img(src="img/jade.svg", alt="jade.svg", class="devboost__image")
				img(src="img/stylus.png", alt="jade.svg", class="devboost__image")
		script(src="js/vendor/jquery.min.js")
		script(src="js/main.js")
