// Body styles
.page
  min-width pageMinWidth
  font-family fontMain
  font-size fontSize
  line-height lineHeight
  color textColor
  background bgColor

// Sticky footer
if stickyFooter
  sticky-footer(footerHeight)
