block config
  - var PageTitle = "devBoost"
  - var MetaDesc = ""
  - var MetaKeyw = ""
  - var jQuery = true
  - var js = true
  - var scriptsPosition = false // head, bottom
  - var GoogleFonts = false
