// Sticky Footer
// pagewrap - container class (.page-wrap)
// footer - footer class (.footer)
// Example:
// <div class="page-wrap">
//   Content here
// <div>
// <div class="footer">Footer here<div>
sticky-footer(pagewrap, footer, footerHeight)
  html
  body
    height 100%

  {pagewrap}
    clearfix()
    min-height 100%
    margin-bottom -(footerHeight)
    &:after
      content ''
      display block
      height footerHeight

  {footer}
    height footerHeight
    line-height footerHeight
    text-align center
