// Sticky Footer
// Example:
// <div class="page__wrap">
//   Content here
// <div>
// <div class="page__footer">Footer here<div>
sticky-footer(footerHeight)
  html
  body
    height 100%

  .page__wrap
    min-height 100%
    margin-bottom -(footerHeight)
    &:after
      content ''
      display block
      height footerHeight

  .page__footer
    height footerHeight
