// box-sizing Reset
html
  box-sizing border-box
*
*:before
*:after
  box-sizing inherit

// Body styles
.page
  font-family fontMain
  font-size 15px
  line-height 1.4
  color textColor
  min-width pageMinWidth

// Sticky footer
sticky-footer(70px)

// clearfix
.clearfix
  clearfix()
