// Default vars
pageMinWidth = 960px
fontMain = 'roboto', Arial, sans-serif
fontSize = 15px
lineHeight = 1.5
textColor = #333
bgColor = #fff

stickyFooter = true
footerHeight = 70px

// Path to images
imagePath = '../images/'

// Helpers mixins
wrap()
  padding 0 15px
  margin 0 auto
  width 1170px

