doctype html
html(lang="ru")
head
  meta(charset="UTF-8")
  title devBoost
  link(rel="stylesheet", href="assets/styles/main.css")
body
  .start Let's code!
  script(src="assets/scripts/vendor/jquery.min.js")
  script(src="assets/scripts/main.js")