doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title devBoost
    link(rel="stylesheet", href="assets/css/common.css")
  body
    .start Let's code!
    script(src="assets/js/vendor/jquery.min.js")
    script(src="assets/js/common.js")
